# Ren'Py generated & compiled files
*.rpyc
*.rpyb
*.rpymc

# Ren'Py Cache & Saves
game/cache/
game/saves/
**/cache/
**/saves/

# Logs & temp
log.txt
errors.txt
traceback.txt
scratch/

# Drafts & office documents
*.docx
*.xlsx
*.pptx

# OS files
.DS_Store
Thumbs.db
