# =====================================
# Ren'Py
# =====================================

# Cache
game/cache/

# Save files
game/saves/

# Compiled Ren'Py files
*.rpyc
*.rpymc

# Logs
log.txt

# =====================================
# Python
# =====================================

__pycache__/
*.py[cod]

# Virtual Environment (optional)
.venv/
venv/

# =====================================
# IDE
# =====================================

.vscode/
.idea/

# =====================================
# Operating System
# =====================================

Thumbs.db
.DS_Store

# =====================================
# Backup files
# =====================================

*~
*.bak

# =====================================
# Temporary files
# =====================================

*.tmp
*.temp

# Visual Studio
.vs/